@import "fonts";

:root{
  --color-reg: #424856;
  --color-dark: #3d4150;
  --color-light: #eeeeee;

  --font-light: 18px "Roboto Light";
  --font-reg: 24px "Roboto Reg";
  --font-bold: 32px "Roboto Bold";
}