.control{
  display: flex;
  margin-bottom: 10px;
  width: 100%;
  font: var(--font-light);
  color: var(--color-reg);
  white-space: nowrap;
  cursor: pointer;

  &:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  &:last-child{
    margin-bottom: 0;
  }
  &_icon{
    margin-right: 10px;
  }
}